body
{
    font-family: Tahoma, sans-serif;
    background-color: crimson;
}

#banner1
{
    color: white;
    text-align: center;
    height: 370px;
}

#mecze
{
    color: white;
    text-align: center;

}

#main
{
    background-color: whitesmoke;
    height: 50px;
}

#lewy
{
    background-color: whitesmoke;
    width: 70%;
    height: 230px;
}

#prawy
{
    background-color: whitesmoke;
    width: 30%;
    height: 230px;
    text-align: right;
}

h2
{
    text-align: center;
}
